<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.dao.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yy.entity.Member">
        <id column="member_id" property="memberId" />
        <result column="team_id" property="teamId" />
        <result column="memberx" property="memberx" />
        <result column="membery" property="membery" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        member_id, team_id, memberx, membery
    </sql>

</mapper>
